/* Painel Arquivos + Gráfico */
.containerArquivosGrafico{ @apply
  relative
  left-1/2
  transform -translate-x-1/2
  flex flex-col-reverse xs:flex-row
  xs:justify-between
  items-center
  w-[80%] xs:w-full
  h-fit
}

/* Header de Arquivos */
.filesDiv{ @apply
  flex-col
  relative
  w-[220px]
  h-[380px]
  pb-5
  rounded-md
  border
  border-neutral-700
  bg-neutral-950
}

.filesHeaderDiv{ @apply
  relative
  w-full
  h-fit
  mt-5
  mb-5
  flex-row
  text-center
  items-center
  justify-evenly
}

.filesH1{ @apply
  text-white
  text-[18px]
  font-semibold
}

/* Seletores */
.selectorsDiv{ @apply
  flex-row
  mt-2
  relative
  left-1/2
  transform -translate-x-1/2
  w-max
  h-auto
  text-[12px]
}

option{ @apply
  text-white
  rounded-md
}

.selectorInput{ @apply
  relative
  outline-none
  rounded-sm
  flex-row
  w-[70px]
  h-[25px]
  appearance-auto
  border
  text-white
  border-neutral-700
  bg-neutral-800
}

/* Divs Arquivos */
.filesBox { @apply
  space-y-1
  relative
  left-1/2
  transform -translate-x-1/2
  w-[90%]
  h-[270px]
  overflow-x-hidden
  overflow-y-auto
}

/* Individual file items */
.file { @apply
  flex flex-row
  relative
  left-1/2
  transform -translate-x-1/2
  rounded-sm
  w-full
  h-[50px]
  text-center
  items-center
  justify-between
  p-2
  border
  border-neutral-700
  bg-neutral-800
  duration-100
  ease-out
  hover:border-neutral-500
}

.fileName { @apply
  text-[12px]
  text-white
  select-none
  w-fit
  h-fit
  font-semibold
  pl-1
}

.downloadBtn { @apply
  relative
  flex
  cursor-pointer
  w-[50px]
  h-[30px]
  rounded-sm
  mr-0.5
  bg-neutral-950
  hover:bg-neutral-900
}

.downloadBtn:active svg{ @apply
  h-[55%]
}

.downloadBtn:active .downloadSvg{ @apply stroke-green-500}
.downloadBtn:active .clockSvg{ @apply stroke-orange-500}

.downloadBtn:active{ @apply
  bg-neutral-900
}

svg{ @apply
  duration-75
}

.downloadSvg{ @apply
  relative
  w-[20px]
}

.clockSvg { @apply
  relative
  text-white
}

/* Waiting Reports */

.fileWaiting { @apply
  flex flex-row
  relative
  left-1/2
  transform -translate-x-1/2
  rounded-sm
  w-full
  h-[50px]
  text-center
  items-center
  justify-between
  p-2
  border
  border-neutral-700
  bg-neutral-800
  duration-100
  ease-out
  hover:border-neutral-500
}

.filesBox::-webkit-scrollbar { @apply
  w-[5px]
}

.filesBox::-webkit-scrollbar-thumb { @apply
  bg-white
  rounded-sm
}

.filesBox::-webkit-scrollbar-thumb:hover { @apply
  bg-slate-800
}

.filesBox::-webkit-scrollbar-track { @apply
  bg-slate-950
  rounded-sm
}