/* Page Globals */
.centerDiv{ @apply
  left-1/2
  top-1/2
  transform -translate-x-1/2 -translate-y-1/2
}

.hoverEffect{ @apply
  duration-100
  ease-out
  hover:border-neutral-500
}

/* Main Div */
.dashboardContentDiv{ @apply
  absolute
  h-[90%]
  w-[650px]
  max-w-[1000px]
  flex
  justify-evenly
  items-center
  rounded-md
  border
  border-neutral-700
}

/* Header de Arquivos */
.filesDiv{ @apply
  flex-col
  relative
  w-[200px]
  h-[380px]
  pb-5
  rounded-md
  border
  border-neutral-700
  bg-neutral-950
}

.filesHeaderDiv{ @apply
  relative
  w-full
  h-fit
  mt-5
  mb-5
  flex-row
  text-center
  items-center
  justify-evenly
}

.filesH1{ @apply
  text-white
  text-[18px]
  font-semibold
}

/* Seletores */
.selectorsDiv{ @apply
  flex-row
  mt-2
  relative
  left-1/2
  transform -translate-x-1/2
  w-max
  h-auto
  text-[12px]
}

option{ @apply
  text-white
  rounded-md
}

.selectorInput{ @apply
  relative
  outline-none
  rounded-sm
  flex-row
  w-[70px]
  h-[25px]
  border
  text-white
  border-neutral-700
  bg-neutral-800
}

/* Divs Arquivos */
.filesBox { @apply
  space-y-1
  relative
  left-1/2
  transform -translate-x-1/2
  w-[90%]
  h-[270px]
  overflow-x-hidden
  overflow-y-auto
}

/* Individual file items */
.file { @apply
  flex flex-row
  relative
  left-1/2
  transform -translate-x-1/2
  rounded-sm
  w-full
  h-[50px]
  text-center
  items-center
  justify-between
  p-2
  border
  border-neutral-700
  bg-neutral-800
  duration-100
  ease-out
  hover:border-neutral-500
}

.fileName { @apply
  text-[12px]
  text-white
  w-fit
  h-fit
  font-semibold
  pl-1
}

.downloadBtn { @apply
  relative
  flex
  cursor-pointer
  w-[50px]
  h-[25px]
  rounded-sm
  mr-0.5
  bg-neutral-300
  hover:bg-neutral-400
}

.downloadSvg{ @apply
  relative
  w-[20px]
}

.filesBox::-webkit-scrollbar { @apply
  w-[5px]
}

.filesBox::-webkit-scrollbar-thumb { @apply
  bg-white
  rounded-sm
}

.filesBox::-webkit-scrollbar-thumb:hover { @apply
  bg-slate-800
}

.filesBox::-webkit-scrollbar-track { @apply
  bg-slate-950
  rounded-sm
}

/* Gráfico */
.graficoDiv{ @apply
  w-[65%]
  max-w-[500px]
  h-[380px]
  rounded-md
  border
  border-neutral-700
  bg-neutral-950
  p-[15px]
}

.graficoDiv2{ @apply
  relative
  w-[100%]
  h-[100%]
  text-white
}

/* Footer Bar */
.footer{ @apply
  absolute
  bottom-0
  w-full
  h-[20px]
  bg-slate-200
  invisible
}